@charset "utf-8";

/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: #333; /*全体の文字色*/
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro"; /*背景色と背景画像*/
	background-color: #FFF;
	background-image: url(../images/bg.gif);
	background-position: center top;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form, figure {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

img {
	border: none;
}

input, textarea, select {
	font-size: 1em;
}

form {
	margin: 0px;
}

table {
	border-collapse: collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333; /*リンクテキストの色*/
}

a:hover {
	color: #1eb1f6; /*マウスオン時の文字色（全体）*/
	text-decoration: none; /*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	background: #000; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#565656),
		to(#000)); /*グラデーション*/
	background: -webkit-linear-gradient(#afafaf, #565656 49%, #000 50%);
	/*同上*/
	background: linear-gradient(#afafaf, #565656 49%, #000 50%); /*同上*/
	border: 1px solid #000; /*枠線の幅、線種、色*/
}
/*ヘッダーブロックの中*/
header .inner {
	width: 997px; /*ブロック幅*/
	height: 70px; /*ブロックの高さ*/
	position: relative;
	margin: 0px auto;
}
/*h1タグの設定*/
header .inner h1 {
	position: absolute;
	left: 250px; /*innerに対して左から250pxの場所に配置*/
	top: 30px; /*innerに対して上から30pxの場所に配置*/
	font-size: 10px; /*文字サイズ*/
	line-height: 10px; /*行間*/
	font-weight: normal;
	color: #FFF; /*文字色*/
}
/*ロゴ画像の設定*/
header .inner #logo {
	position: absolute;
	left: 20px; /*innerに対して左から20pxの場所に配置*/
	top: 18px; /*innerに対して上から18pxの場所に配置*/
}
/*ヘッダー内の「カートをみる」の設定*/
header .inner #cart {
	width: 150px; /*幅*/
	height: 70px; /*高さ*/
	line-height: 70px; /*行間*/
	position: absolute;
	top: 0px; /*innerに対して上から0pxの位置に配置*/
	right: 0px; /*innerに対して右から0pxの位置に配置*/
	font-size: 11px; /*文字サイズ*/
	letter-spacing: 0.2em; /*文字間隔を少し広めにとる設定*/
	background: #1eb1f6; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/bg_cart.png) no-repeat 20px top,
		-webkit-gradient(linear, left top, left bottom, from(#1a97d1),
		to(#1eb1f6)); /*カート画像とグラデーション*/
	background: url(../images/bg_cart.png) no-repeat 20px top,
		-webkit-linear-gradient(#1a97d1, #1eb1f6 20%); /*同上*/
	background: url(../images/bg_cart.png) no-repeat 20px top,
		linear-gradient(#1a97d1, #1eb1f6 20%); /*同上*/
	color: #FFF;
}

header .inner #cart a {
	color: #FFF; /*文字色*/
	text-decoration: none;
	display: block;
	padding-left: 50px;
}
/*マウスオン時*/
header .inner #cart a:hover {
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/bg_cart.png) no-repeat 20px bottom,
		-webkit-gradient(linear, left top, left bottom, from(#dcdcdc),
		to(#FFF)); /*カート画像とグラデーション*/
	background: url(../images/bg_cart.png) no-repeat 20px bottom,
		-webkit-linear-gradient(#dcdcdc, #FFF 20%); /*同上*/
	background: url(../images/bg_cart.png) no-repeat 20px bottom,
		linear-gradient(#dcdcdc, #FFF 20%); /*カート画像と背景色*/
	color: #1eb1f6; /*文字色*/
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
/*メニューブロック設定*/
nav#menubar {
	height: 40px; /*ブロックの高さ*/
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e5e5e5)); /*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e5e5e5); /*同上*/
	background: linear-gradient(#FFF, #e5e5e5); /*同上*/
	border-bottom: 1px solid #ccc; /*メニューの下側の線の幅、線種、色*/
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	/*影の設定。右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /*同上*/
}

nav#menubar ul {
	width: 997px; /*メニュー幅*/
	margin: 0px auto;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 165px; /*メニュー幅*/
	border-right: 1px solid #ccc; /*メニューの右側の線の幅、線種、色*/
	text-align: center; /*文字を中央に揃える*/
}

nav#menubar ul li a {
	text-decoration: none;
	display: block;
	line-height: 40px;
}
/*最初のメニューの設定*/
nav#menubar ul li:first-child {
	border-left: 1px solid #ccc; /*左側に線を入れる*/
}
/*マウスオン時の設定*/
nav#menubar ul li a:hover {
	background: #FFF; /*背景色*/
}

/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	width: 100%;
	height: auto;
	position: relative;
	margin-bottom: 15px;
	margin-top: -6px;
}

#mainimg img {
	vertical-align: bottom;
}

#mainimg .slide_file {
	display: none;
}

#slide_image {
	z-Index: 2;
	height: auto;
	width: 100%;
	position: relative;
}

#slide_image2 {
	z-Index: 1;
	height: auto;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

/*コンテンツ（main,sub,sideを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	width: 997px; /*コンテンツ幅*/
	margin: 0px auto;
	padding-top: 30px; /*上部メニューとコンテンツの間に空ける余白*/
}

/*コンテンツin（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents-in {
	float: left; /*左に回り込み*/
	width: 781px; /*コンテンツ幅*/
}
/*2カラム時*/
body.c2 #contents-in {
	float: none;
	width: 100%;
}

/*メインコンテンツ（中央ブロック）
---------------------------------------------------------------------------*/
#main {
	float: right; /*右側に回り込み*/
	width: 565px; /*メインコンテンツ幅*/
	padding-bottom: 30px;
}
/*2カラム時*/
body.c2 #main {
	width: 782px; /*メインコンテンツ幅*/
}
/*mainコンテンツのh2タグ設定*/
#main h2 {
	clear: both;
	font-size: 100%;
	background: #1eb1f6; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/arrow1.png) no-repeat left center,
		-webkit-gradient(linear, left top, left bottom, from(#6acbf9),
		to(#1eb1f6)); /*マークとグラデーション*/
	background: url(../images/arrow1.png) no-repeat left center,
		-webkit-linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
	background: url(../images/arrow1.png) no-repeat left center,
		linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
	color: #FFF; /*文字色*/
	padding: 5px 15px 5px 30px; /*上、右、下、左への余白*/
	border: 1px solid #1eb1f7; /*線の幅、線種、色*/
	text-shadow: 0px -1px #1eb1f6; /*テキストの影。左へ、下へ、色の設定。*/
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
	/*影の設定。右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /*同上*/
}
/*mainコンテンツのh3タグ設定*/
#main h3 {
	clear: both;
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e6e6e6)); /*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e6e6e6); /*同上*/
	background: linear-gradient(#FFF, #e6e6e6); /*同上*/
	font-size: 100%;
	color: #1eb1f6; /*文字色*/
	padding: 2px 15px; /*上下、左右への余白*/
	border: 1px solid #1eb1f6; /*線の幅、線種、色*/
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
	/*影の設定。右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); /*同上*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 10px 10px 15px; /*左から、上、左右、下への余白*/
}
/*mainコンテンツのbox*/
#main .box {
	border: 1px solid #cfcfcf; /*線の幅、線種、色*/
	background: #FFF; /*背景色*/
	padding: 10px; /*ボックス内の余白*/
	margin-bottom: 15px; /*ボックスの下にあけるスペース*/
}

/*商品一覧ボックス
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list {
	border: 1px solid #CCC; /*枠線の幅、線種、色*/
	border-radius: 6px; /*角丸のサイズ*/
	margin-bottom: 15px; /*ボックス間のスペース*/
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e3e3e3)); /*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e3e3e3); /*同上*/
	background: linear-gradient(#FFF, #e3e3e3); /*同上*/
	-webkit-box-shadow: 0px 2px 5px #CCC, 0px 0px 0px 1px #FFF inset;
	/*影の設定。右・下・ぼかし幅・色の設定, ＋内側への影を右・下・ぼかし幅・距離・色を設定*/
	box-shadow: 0px 2px 5px #CCC, 0px 0px 0px 1px #FFF inset; /*同上*/
	position: relative;
	overflow: hidden;
}

#main section.list a {
	padding: 10px; /*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
}
/*マウスオン時*/
#main section.list a:hover {
	border-radius: 6px; /*角丸のサイズ*/
	background-color: #FFF; /*背景色*/
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	padding: 0px;
	margin-left: 35%; /*左の写真とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: left; /*画像を左へ回り込み*/
	background-color: #FFF; /*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px; /*余白。ここに上の行で設定した背景色が出ます。*/
	border: 1px solid #CCC; /*枠線の幅、線種、色*/
	width: 30%; /*画像の幅*/
	height: auto;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	padding: 2px 0px 2px 10px; /*上、右、下、左側への余白*/
	font-size: 100%;
	border-bottom: 1px solid #CCC; /*下側の線の幅、線種、色*/
	border-left: 3px solid #1eb1f6; /*左側の線の幅、線種、色*/
	margin-bottom: 0.5em;
	color: #1eb1f6; /*文字色*/
}

/*サブコンテンツ、サイドコンテンツ
---------------------------------------------------------------------------*/
/*サブコンテンツ（左側ブロック）*/
#sub {
	float: left; /*左側に回り込み*/
	width: 200px; /*サブコンテンツ幅*/
	padding-bottom: 30px;
}
/*サイドコンテンツ（右側ブロック）*/
#side {
	float: right; /*右側に回り込み*/
	width: 200px; /*サイドコンテンツ幅*/
	padding-bottom: 30px;
}
/*2カラム時にサイドコンテンツを非表示にする設定*/
body.c2 #side {
	display: none;
}
/*sub,sideコンテンツ内のh2タグ設定*/
#sub h2, #side h2 {
	font-size: 100%;
	padding: 2px 15px 2px 30px; /*上、右、下、左への余白*/
	background: #000; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/arrow1.png) no-repeat left center,
		-webkit-gradient(linear, left top, left bottom, from(#565656),
		to(#000)); /*マークとグラデーション*/
	background: url(../images/arrow1.png) no-repeat left center,
		-webkit-linear-gradient(#aeaeae, #565656 49%, #000 50%); /*同上*/
	background: url(../images/arrow1.png) no-repeat left center,
		linear-gradient(#aeaeae, #565656 49%, #000 50%); /*同上*/
	color: #FFF; /*文字色*/
	border: 1px solid #000; /*線の幅、線種、色*/
	text-shadow: 0px -1px #000; /*テキストの影。左へ、下へ、色の設定。*/
}
/*sub,sideコンテンツ内のbox設定*/
#sub .box, #side .box {
	background: #FFF; /*背景色*/
	border: 1px solid #cfcfcf; /*枠線の幅、線種、色*/
	padding: 7px; /*ボックス内の余白*/
	margin-bottom: 15px; /*ボックスの下にあけるスペース*/
}
/*見出しにboxやメニューが繋がった場合に枠線が重複しない為の設定*/
#sub h2+ul, #side h2+ul, #sub h2+.box, #side h2+.box {
	border-top: none;
}
/*boxの中にメニューが入った場合に下に余分な余白が出るのをなくす設定*/
#sub .box>ul, #side .box>ul {
	margin-bottom: 0;
}

/*sub,sideコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
#sub ul, #side ul {
	border-top: 1px solid #cfcfcf; /*上側の線の幅、線種、色*/
	border-right: 1px solid #cfcfcf; /*右側の線の幅、線種、色*/
	border-left: 1px solid #cfcfcf; /*左側の線の幅、線種、色*/
	margin-bottom: 15px; /*メニューブロックの下にあけるスペース*/
}
/*メニュー１個ごとの設定*/
#sub ul li a, #side ul li a {
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #cfcfcf; /*下側の線の幅、線種、色*/
	padding-left: 10px;
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5),
		to(#FFF)); /*グラデーション*/
	background: -webkit-linear-gradient(#e5e5e5, #FFF); /*同上*/
	background: linear-gradient(#e5e5e5, #FFF); /*同上*/
	-webkit-box-shadow: 0px 0px 0px 1px #FFF inset;
	/*内側への影。右・下・ぼかし幅・距離・色を設定*/
	box-shadow: 0px 0px 0px 1px #FFF inset; /*同上*/
}

#sub ul li a:hover, #side ul li a:hover {
	background: #FFF; /*マウスオン時のボックス色*/
}

/*サブ・サイドコンテンツ　商品一覧ボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
#sub section.list, #side section.list {
	font-size: 11px; /*文字サイズ*/
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e3e3e3)); /*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e3e3e3); /*同上*/
	background: linear-gradient(#FFF, #e3e3e3); /*同上*/
	border-bottom: 1px solid #cfcfcf; /*下の線の幅、線種、色*/
	border-right: 1px solid #cfcfcf; /*右の線の幅、線種、色*/
	border-left: 1px solid #cfcfcf; /*左の線の幅、線種、色*/
	line-height: 1.6; /*行間*/
	position: relative;
	overflow: hidden;
}

#sub section.list a, #side section.list a {
	padding: 5px; /*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
}

#sub section.list a:hover, #side section.list a:hover {
	background: #FFF; /*マウスオン時のボックス色*/
}
/*h4見出しタグ*/
#sub section.list h4, #side section.list h4 {
	color: #1eb1f6; /*文字色*/
	font-size: 100%;
}
/*サムネイル画像設定*/
#sub section.list figure img, #side section.list figure img {
	float: left; /*左に回り込みさせる設定*/
	margin-right: 5px; /*画像右にあけるスペース*/
	border: 1px solid #999; /*枠線の幅、線種、色*/
	width: 60px; /*画像の高さ*/
	height: auto;
}

/*フッターメニュー設定
---------------------------------------------------------------------------*/
ul#footermenu {
	clear: both;
	margin: 0px auto;
	text-align: center;
	font-size: 12px;
}

ul#footermenu li {
	display: inline;
	padding: 0px 5px;
}

/*フッター設定(copyrightなどが入った最下部ブロック)
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF; /*文字色*/
	background: #000; /*背景色*/
}

footer .pr {
	display: block;
	font-size: 80%;
}

footer a {
	text-decoration: none;
	color: #FFF;
}

footer a:hover {
	color: #FFF;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	overflow: auto;
	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px; /*ブロックの高さ*/
	padding-left: 10px;
}
/*日付設定*/
#new dt {
	font-weight: bold; /*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #d2d2d2; /*下線の幅、線種、色*/
	padding-left: 8em;
}

#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
	background: #FFF; /*背景色*/
}

.ta1, .ta1 td, .ta1 th {
	border: 1px solid #cfcfcf; /*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td {
	padding: 10px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th {
	width: 140px;
	padding: 10px;
	text-align: center;
	background-color: #f1f1f1; /*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;
	background-color: #bae7fc; /*背景色*/
}
/*ボタンの設定*/
input[type="submit"], input[type="button"], input[type="reset"] {
	width: 250px; /*ボタン幅*/
	padding: 10px; /*ボタン内の余白*/
	margin-bottom: 20px;
	border-radius: 30px; /*角丸のサイズ*/
	background: #e5e5e5; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e5e5e5)); /*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e5e5e5); /*同上*/
	background: linear-gradient(#FFF, #e5e5e5); /*同上*/
	-webkit-box-shadow: 1px 2px 7px #ccc; /*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 7px #ccc; /*同上*/
	font-size: 16px; /*文字サイズ*/
	letter-spacing: 0.1em;
	border: 1px solid #999; /*枠線の幅、線種、色*/
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover
	{
	background: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5),
		to(#FFF)); /*グラデーション*/
	background: -webkit-linear-gradient(#e5e5e5, #FFF); /*同上*/
	background: linear-gradient(#e5e5e5, #FFF); /*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}

#pagetop a {
	color: #FFF; /*文字色*/
	font-size: 10px; /*文字サイズ*/
	background-color: #000; /*背景色*/
	text-decoration: none;
	text-align: center;
	width: 10em; /*ボックス幅*/
	display: block;
	float: right;
}
/*マウスオン時*/
#pagetop a:hover {
	background: #333;
	color: #FFF;
}

/*「おすすめ」表示
---------------------------------------------------------------------------*/
.osusume {
	font-size: 10px; /*文字サイズ*/
	color: #FFF; /*文字色*/
	background: #F00; /*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px, 20px);
	-ms-transform: rotate(-45deg) translate(37px, 20px);
	transform: rotate(-45deg) translate(37px, 20px);
}
/*「SOLD OUT」表示
---------------------------------------------------------------------------*/
.soldout {
	font-size: 10px; /*文字サイズ*/
	color: #FFF; /*文字色*/
	background: #999; /*背景色*/
	text-align: center;
	display: block;
	width: 120px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px, 20px);
	-ms-transform: rotate(-45deg) translate(37px, 20px);
	transform: rotate(-45deg) translate(37px, 20px);
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #eee;
}

.mb15, .mb1em {
	margin-bottom: 15px;
}

.clear {
	clear: both;
}

ul.disc {
	padding: 0em 25px 15px;
	list-style: disc;
}

.color1 {
	color: #f61468;
}

.pr {
	font-size: 10px;
}

.btn {
	font-size: 13px;
}

.wl {
	width: 96%;
}

.ws {
	width: 50%;
}

.c {
	text-align: center;
}

.mini1 {
	font-size: 12px;
	line-height: 1.5;
}

figcaption {
	font-size: 11px;
}

img {
	max-width: 100%;
	height: auto;
}

#menubar_hdr {
	display: none;
}

/*ここからタブレット用（481px～800px）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media ( min-width :481px) and (max-width:800px) {
	/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
	/*ヘッダーブロックの中*/
	header .inner {
		width: auto;
		text-align: center;
		position: static;
	}
	/*h1タグの設定*/
	header .inner h1 {
		display: none;
	}
	/*ロゴ画像の設定*/
	header .inner #logo {
		position: static;
		padding-top: 18px;
	}
	/*ヘッダー内の「カートをみる」の設定*/
	header .inner #cart {
		width: 100px; /*幅*/
		background: url(none),
			-webkit-gradient(linear, left top, left bottom, from(#1a97d1),
			to(#1eb1f6));
		background: url(none), -webkit-linear-gradient(#1a97d1, #1eb1f6 20%);
		background: url(none), linear-gradient(#1a97d1, #1eb1f6 20%);
		letter-spacing: normal;
		margin: 1px 1px 0px 0px;
	}
	header .inner #cart a {
		padding-left: 0px;
	}
	/*マウスオン時*/
	header .inner #cart a:hover {
		background: url(none),
			-webkit-gradient(linear, left top, left bottom, from(#dcdcdc),
			to(#FFF));
		background: url(none), -webkit-linear-gradient(#dcdcdc, #FFF 20%);
		background: url(none), linear-gradient(#dcdcdc, #FFF 20%);
	}

	/*上部のメインメニュー
---------------------------------------------------------------------------*/
	nav#menubar {
		height: auto;
		overflow: hidden;
		border-bottom: none;
		border-left: 1px solid #ccc;
		margin-bottom: 6px;
	}
	nav#menubar ul {
		width: auto;
	}
	/*メニュー１個ごとの設定*/
	nav#menubar ul li {
		width: 50%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-bottom: 1px solid #ccc;
	}
	/*最初のメニューの設定*/
	nav#menubar ul li:first-child {
		border-left: none;
	}

	/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
	#contents {
		width: auto;
		margin: 0px 10px;
	}

	/*コンテンツin（main,subを囲むブロック）
---------------------------------------------------------------------------*/
	#contents-in {
		float: none;
		width: auto;
	}
	/*main,sub,sideコンテンツ
---------------------------------------------------------------------------*/
	#main, #sub, #side {
		float: none;
		width: auto;
	}
	/*2カラム時*/
	body.c2 #main {
		width: auto;
	}

	/*その他
---------------------------------------------------------------------------*/
	/*<body class="s-n">指定の場合にsub,sideブロックを表示させない設定*/
	body.s-n #sub, body.s-n #side {
		display: none;
	}
	/*tdタグにiframeを読み込んだ場合（GoogleMap用）*/
	td iframe {
		height: 300px;
		width: 100%;
	}
}

/*ここからスマートフォン用（480px以下）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media ( max-width : 480px) {
	/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
	header {
		margin-bottom: 40px;
	}
	/*ヘッダーブロックの中*/
	header .inner {
		width: auto;
		text-align: left;
		position: static;
	}
	/*h1タグの設定*/
	header .inner h1 {
		display: none;
	}
	/*ロゴ画像の設定*/
	header .inner #logo {
		position: static;
		padding: 18px 0px 0px 5px;
	}
	header .inner #logo img {
		width: 70%;
		height: auto;
	}
	/*ヘッダー内の「カートをみる」の設定*/
	header .inner #cart {
		width: 100%; /*幅*/
		height: 40px; /*高さ*/
		line-height: 40px; /*行間*/
		margin-top: 72px;
		background: url(../images/bg_cart.png) no-repeat 30% -16px,
			-webkit-gradient(linear, left top, left bottom, from(#1a97d1),
			to(#1eb1f6)); /*カート画像とグラデーション*/
		background: url(../images/bg_cart.png) no-repeat 30% -16px,
			-webkit-linear-gradient(#1a97d1, #1eb1f6 20%); /*同上*/
		background: url(../images/bg_cart.png) no-repeat 30% -16px,
			linear-gradient(#1a97d1, #1eb1f6 20%);
		text-align: center;
		border-bottom: 1px solid #ccc; /*下側の線の幅、線種、色*/
	}
	header .inner #cart a {
		padding-left: 5%;
	}
	/*マウスオン時*/
	header .inner #cart a:hover {
		background: url(../images/bg_cart.png) no-repeat 30% -86px,
			-webkit-gradient(linear, left top, left bottom, from(#dcdcdc),
			to(#FFF)); /*カート画像とグラデーション*/
		background: url(../images/bg_cart.png) no-repeat 30% -86px,
			-webkit-linear-gradient(#dcdcdc, #FFF 20%); /*同上*/
		background: url(../images/bg_cart.png) no-repeat 30% -86px,
			linear-gradient(#dcdcdc, #FFF 20%); /*カート画像と背景色*/
	}

	/*上部のメインメニュー
---------------------------------------------------------------------------*/
	nav#menubar {
		height: auto;
		overflow: hidden;
		border-bottom: none;
		border-left: 1px solid #ccc;
		margin-bottom: 6px;
	}
	nav#menubar ul {
		width: auto;
	}
	/*メニュー１個ごとの設定*/
	nav#menubar ul li {
		width: 50%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border-bottom: 1px solid #ccc;
	}
	/*最初のメニューの設定*/
	nav#menubar ul li:first-child {
		border-left: none;
	}

	/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
	#contents {
		width: auto;
		margin: 0px 10px;
	}

	/*コンテンツin（main,subを囲むブロック）
---------------------------------------------------------------------------*/
	#contents-in {
		float: none;
		width: auto;
	}
	/*main,sub,sideコンテンツ
---------------------------------------------------------------------------*/
	#main, #sub, #side {
		float: none;
		width: auto;
	}
	/*2カラム時*/
	body.c2 #main {
		width: auto;
	}

	/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
	section#new h2.open {
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_minus.png) no-repeat right center,
			-webkit-gradient(linear, left top, left bottom, from(#6acbf9),
			to(#1eb1f6)); /*マイナスアイコンとグラデーション*/
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_minus.png) no-repeat right center,
			-webkit-linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_minus.png) no-repeat right center,
			linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
	}
	section#new h2.close {
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_plus.png) no-repeat right center,
			-webkit-gradient(linear, left top, left bottom, from(#6acbf9),
			to(#1eb1f6)); /*プラスアイコンとグラデーション*/
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_plus.png) no-repeat right center,
			-webkit-linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
		background: url(../images/arrow1.png) no-repeat left center,
			url(../images/btn_plus.png) no-repeat right center,
			linear-gradient(#bae7fc, #6acbf9 49%, #1eb1f6 50%); /*同上*/
	}
	/*ブロック全体の設定*/
	#new {
		margin-bottom: 15px;
	}
	#new dl {
		height: auto;
		padding-left: 0;
	}
	/*日付設定*/
	#new dt {
		float: none;
		width: auto;
	}
	/*記事設定*/
	#new dd {
		padding-left: 0;
	}

	/*テーブル１
---------------------------------------------------------------------------*/
	/*テーブル内の右側*/
	.ta1 td {
		width: auto;
		padding: 2px;
	}
	/*テーブル内の左側の見出し部分*/
	.ta1 th {
		width: 100px;
		padding: 2px;
	}

	/*商品一覧ボックス
---------------------------------------------------------------------------*/
	/*ボックス内の段落タグ設定*/
	#main section.list p {
		margin-left: 0;
	}
	/*ボックス内の写真設定*/
	#main section.list figure img {
		float: none;
		margin: 0px;
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	/*その他
---------------------------------------------------------------------------*/
	/*<body class="s-n">指定の場合にsub,sideブロックを表示させない設定*/
	body.s-n #sub, body.s-n #side {
		display: none;
	}
	/*tdタグにiframeを読み込んだ場合（GoogleMap用）*/
	.ta1 td iframe {
		height: 300px;
		width: 100%;
	}
	/*メニュー折りたたみ設定*/
	#top #menubar_hdr {
		display: none;
	}
	#menubar_hdr {
		display: inline;
		position: absolute;
		top: 0px;
		right: 10px;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb),
			to(#e5e5e5));
		background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
		background-image: linear-gradient(#fbfbfb, #e5e5e5);
		padding: 10px;
		border: 1px solid #cfcfcf;
		border-radius: 0px 0px 6px 6px;
	}
}

@import
	url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

fieldset {
	width: 400px;
	margin: 0 auto;
	margin-top: 8px;
	margin-bottom: 2%;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}

h1 {
	background: #004A3E;
	padding: 20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

form {
	/* 	background: #f0f0f0; */
	padding: 6% 4%;
}

input[type="password"] {
	width: 76%;
	height: 20px;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4% 4% 4% 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	color: #555;
}

/* .iconPassword {
	width: 20px;
	height: 20px;
	background-color: #004A3E;
	float: left;
	padding: 4% 4% 4% 4%;
	margin-bottom: 4%;
	background-repeat: no-repeat;
	background-image:
		url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
	background-position: center;
	border: 1px solid #ccc;
} */

/* .iconUser {
	width: 20px;
	height: 20px;
	background-color: #004A3E;
	float: left;
	padding: 4% 4% 4% 4%;
	margin-bottom: 4%;
	background-repeat: no-repeat;
	background-image:
		url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
	background-position: center;
	border: 1px solid #ccc;
} */
input[type="text"] {
	width: 76%;
	height: 20px;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 4% 4% 4% 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 95%;
	color: #555;
}

input[type="submit"] {
	width: 100%;
	background: #004A3E;
	border: 0;
	padding: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #fff;
	cursor: pointer;
	transition: background .3s;
	-webkit-transition: background .3s;
}

input[type="submit"]:hover {
	background: #53B9A8;
}

.errorMsg {
	color: red;
}

::-webkit-input-placeholder {
	
}